{% extends "layout.html" %}

{% block title %}
    quickJCB home
{% endblock %}

{% block main %}
    <div class="number">
        {{ number }}
    </div>
    <table>
        <thead>
            <tr>
                <th>Job position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job }}</td>
                <td>{{ jobs[job] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}