{% extends "layout.html" %}

{% block title %}
    briefJCB
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Job position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td><a href="{{ links[loop.index0] }}" class="links" target="_blank" rel="noopener noreferrer">{{ job }}</a></td>
                <td>{{ jobs[job] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}