{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title %}
    briefJCB
{% endblock %}

{% block main %}
    <div class="pagination">
        {% for n in range(page) %}
            <a {% if (n + 1) == index %} class="active btn" {% endif %} class="btn" onclick="startLoading('{{ n + 1 }}')">{{ n + 1 }}</a>
        {% endfor %}
    </div>
    <table id="table">
        <thead>
            <tr class="t-row">
                <th class="t-header">Job position</th>
                <th class="t-header">Company</th>
                <th class="t-header last-col">Salary</th>
            </tr>
        </thead>
        <tbody id="t-body">
            {% for job in jobs %}
            <tr class="t-row">
                <td class="t-data"><a href="{{ job['link'] }}" class="links" target="_blank" rel="noopener noreferrer">{{ job['name'] }}</a></td>
                <td class="t-data">{{ job['company'] }}</td>
                <td class="t-data">{{ job['salary'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}