<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="icon" href="/static/favicon.ico">
    <link rel="manifest" href="/static/briefjcb.webmanifest">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h2>briefJCB</h2>
        <p>A simple page showing the 75 most recent job vacancies (top one being most recent) on jobcentrebrunei. Click on a job position to view the job details page on JCB.</p>
    </div>
    <div class="content">
        {% block main %}{% endblock %}
    </div>
    <div class="footer">
        <h6>made by najib-r</a></h6>
    </div>
</body>
</html>