<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple page showing 75 most recent job vacancies on jcb.">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta id="themeColor" name="theme-color" content="#ffffff">
    <link rel="manifest" href="{{ url_for('static', filename='briefjcb.webmanifest') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="header-main">
            <h2>briefJCB</h2>
            <div class="box">
                <input type="search" id="myInput" placeholder="Search keywords">
                <button type="submit" class="icon" id="searchBtn">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
        </div>
        <p>A simple page to quickly browse job vacancies on jobcentrebrunei. Click on a job position to view the job details page on JCB.</p>
    </div>
    <div id="loader">
        <div id="line" class="progress">
            <div class="color"></div>
        </div>
    </div>
    <div class="content">
        {% block main %}{% endblock %}
    </div>
    <div class="footer">
        <h3>made by najib-r. See source code <a href="https://github.com/najib-r/brief-jcb" class="link" target="_blank" rel="noopener noreferrer">here</a></h3>
    </div>
</body>
</html>